html * {  font-family: Arial !important;}
body { font-family: Arial; background-color: #DCDCDC;}
nav { height: 25px}

#wrapper{ width: 1024px; height: 100%; margin: 0px auto;}
#header{ text-align: center; border-radius: 15px; border: 1px solid #a1a1a1;}
#current_user{ float: right;}
#main_content{ border-radius: 15px;border: 1px solid #a1a1a1; padding: 10px; margin-top:10px;}

/* Colors */
.secondaryColor { background-color: #DCDCDC;}
.primaryColor {	background: #FFD633; }
